<div class="row">
  <h1 class="mb-4 text-center display-3">NC Folk Festival Artists</h1>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="genreDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          By Genre
        </button>
        <ul class="dropdown-menu" aria-labelledby="genreDropdown">
          <li><a class="dropdown-item" href="<%= artists_path %>"><%= "All (#{Artist.count})" %></a></li>
          <% Tag.genre_map.each do |genre, artist_count| %>
            <li><a class="dropdown-item" href="<%= artists_path(category: 'genre', option: genre) %>"><%= "#{genre} (#{artist_count})" %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="stageNameDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          By Stage Name
        </button>
        <ul class="dropdown-menu" aria-labelledby="stageNameDropdown">
          <li><a class="dropdown-item" href="<%= artists_path %>">All</a></li>
          <% Stage.all.each do |stage| %>
            <li><a class="dropdown-item" href="<%= artists_path(category: 'stage', option: stage.name) %>"><%= stage.name %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          By Date 
        </button>
        <ul class="dropdown-menu" aria-labelledby="dateDropdown">
          <li><a class="dropdown-item" href="<%= artists_path %>">All</a></li>
          <% Performance::DATES_2024.each do |date| %>
            <li><a class="dropdown-item" href="<%= artists_path(category: 'date', option: date) %>"><%= Date.parse(date).strftime('%A, %B %e, %Y') %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center mt-3">
    <h3><%= @data.filter_name %><h3>
  </div>
</div>

<div id="artists" class="my-4">
  <div class="row">
    <% @data.artists.each do |artist| %>
      <div class="col-sm-12 col-lg-4">
        <%= link_to artist_path(artist.slug), class: 'text-decoration-none' do %>
          <div class="card m-4 shadow-lg">
            <% if artist.card_image %>
              <%= image_tag(artist.card_image, class: 'card-img-top') %>
            <% else %>
              <%= image_tag('placeholder.jpg', class: 'card-img-top') %>
            <% end %>

            <div class="card-body">

              <p class="card-text fw-bold">
                <%= artist.name %>
              </p>

              <div class="d-flex flex-wrap gap-2">
                <% artist.tags.genres.each do |genre_tag| %>
                  <a href="#" class="btn btn-outline-primary btn-sm"><%= genre_tag.name %></a>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>