    <!-- Hero -->
    <section class="position-relative pt-5 mt-5">
      <div class="bg-secondary position-absolute top-0 end-0 w-50 h-100 d-none d-lg-block"></div>
      <div class="bg-secondary position-absolute top-0 end-0 w-100 h-100 d-lg-none"></div>
      <div class="container position-relative z-2 py-5 pb-lg-0">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="pt-lg-2 pb-1 breadcrumb">
            <li class="breadcrumb-item"><a href="/artists">Artists</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#"><%= @artist.name %></a></li>
          </ol>
        </nav>

        <% if current_user&.admin? %>
          <%= link_to edit_artist_path(@artist) do %>
            <button class="btn btn-lg btn-danger">Edit Artist</button>
          <% end %>
        <% end %>

        <div class="d-lg-flex align-items-center pt-3 pb-xxl-5">
          <img class="d-block order-lg-2 me-auto me-lg-0 ms-auto" src="<%= @artist.primary_image(size: 'large') %>" width="480" alt="Image">
          <div class="order-lg-1 text-center text-lg-start pe-lg-4 py-4 py-md-5">
            <h1 class="display-2 text-uppercase pb-3 pb-lg-4"><%= @artist.name %></h1>
            <p class="fs-lg mx-auto mx-lg-0 mb-0" style="max-width: 530px;"><%= @artist.tagline %></p>
          </div>
        </div>

        <!-- Social links -->
        <ul class="nav justify-content-center justify-content-lg-start mx-n2 pt-lg-5 mb-0">
          <% @artist.genres.each do |genre| %>
            <li class="nav-item me-3">
              <a class="btn btn-outline-primary btn-lg" href="#"><%= genre %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

    <section class="container pt-lg-2 pt-xl-4 pt-xxl-5">
      <div class="row py-sm-3 py-md-4 py-lg-5">
        <div class="col-12 col-md-4 col-lg-2 order-2 order-md-1">
          <div class="d-flex d-md-block flex-wrap">
            <% @artist.external_links.ordered_by_link_type.each do |link| %>
              <div class="pb-3 mb-2 mb-lg-4 me-5 me-md-0">
                <h2 class="fs-base fw-normal text-body-secondary mb-2"><%= "View on #{link.link_type.capitalize}" %></h2>
                <ul class="list-unstyled fs-lg fw-semibold text-dark mb-0">
                  <li class="d-block py-1">
                    <%= external_link_button(link) %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-10 order-1 order-md-2">
          <div class="col-md-9 offset-lg-1">
            <div class="ps-md-4 ps-lg-0">
              <div class="border-bottom pb-3 pb-sm-4 pb-lg-5 mb-4">
                <p class="text-dark lead mb-md-2 mb-lg-3 mb-xl-4"><%= @artist.performance_summary %></p>

                <div class="d-flex justify-content-start align-items-center">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi bi-heart me-1"></i> Favorite Artist
                  </button>
                  <button type="button" class="btn btn-secondary me-2">
                    <i class="bi bi-calendar-event me-1"></i> Add Friday Performance to Calendar
                  </button>
                  <button type="button" class="btn btn-secondary me-2">
                    <i class="bi bi-calendar-event me-1"></i> Add Saturday Performance to Calendar
                  </button>
                </div>

              </div>
              <p class="fs-lg"><%= @artist.content %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container pt-lg-2 pt-xl-4 pt-xxl-5">
      <div class="row py-sm-3 py-md-4 py-lg-5">
       <div class="d-flex align-items-center">
          <% @artist.embedded_contents.each do |content| %>
            <%= content.embed_code.html_safe %>
          <% end %>
        </div>
      </div>
    </section>
  </main>






