<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-50" type="button" id="dateDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Date
        </button>
        <ul class="dropdown-menu" aria-labelledby="dateDropdown">
          <% @data.dates.each do |date| %>
            <% formatted_date = Date.parse(date).strftime("%A, %B %-d, %Y") %>
            <li><a class="dropdown-item" href="<%= stage_schedules_path(date: date) %>"><%= formatted_date %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center mt-3">
    <h3 class="fw-bold"><%= Date.parse(@data.active_date).strftime("%A, %B %-d, %Y") %><h3>
  </div>
</div>

<div id="desktopCarouselControls" class="carousel slide" data-bs-ride="carousel">

  <button class="carousel-control-prev" type="button" data-bs-target="#desktopCarouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#desktopCarouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div>
    <% @data.stage_schedules.each_slice(3).with_index do |stage_group, index| %>
      <div class="carousel-item mt-4 <%= 'active' if index.zero? %>">
        <div class="carousel-columns-wrapper row">
          <% stage_group.each do |stage_name, performances| %>
            <div class="carousel-column col-lg-4">
              <div class="carousel-column-body">

                <!-- Stage Name Card START -->
                <%= link_to 'https://maps.app.goo.gl/FBD4cg1AVZZm3bUt5', class: "text-decoration-none", target: "_blank" do %>
                  <div class="card m-3 text-center border-gray <%= stage_css_color_classes[stage_name] %>">
                    <div class="card-body text-white align-items-center justify-content-center">
                      <h2 class="card-title mb-0"><%= stage_name %></h2>
                      <div class="row">
                        <div class="text-center">
                          <i class="bi bi-geo-alt-fill text-white me-2"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <!-- Stage Name Card END -->

                <% performances.each do |performance| %>
                  <%= render 'performance_card', performance: performance, stage_name: stage_name %>
                <% end %>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div> 