<div id="mobileCarouselControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @data.stage_schedules.each_with_index do |(stage_name, performances), index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <div class="container mt-4">
          <div class="row">
            <div class="col-lg-4">

              <%= link_to 'https://maps.app.goo.gl/FBD4cg1AVZZm3bUt5', class: "text-decoration-none", target: "_blank" do %>
                <div class="card m-3 text-center <%= stage_css_color_classes[stage_name] %>">
                  <div class="card-body text-white align-items-center justify-content-center">
                    <h2 class="card-title mb-0"><%= stage_name %></h2>
                    <div class="row">
                      <div class="text-center">
                        <i class="bi bi-geo-alt-fill text-white me-2"></i>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

              <% performances.each do |performance| %>
                <%= render 'performance_card', performance: performance, stage_name: stage_name, date: @data.date %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mobileCarouselControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mobileCarouselControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>