<div class="card my-4 rounded-2 shadow">
  <div class="card-body">
    <%= link_to artist_path(performance[:artist_slug]), class: 'text-decoration-none' do %>
      <% if performance[:artist_name].length > 25 %>
        <h3 class="card-title"><%= performance[:artist_name] %></h3>
      <% else %>
        <h2 class="card-title"><%= performance[:artist_name] %></h2>
      <% end %>
    <% end %>
    <h3><%= performance[:display_time] %></h3>
    <div class="d-flex flex-wrap gap-2">
      <% performance[:artist_genres].each do |genre| %>
        <a href="#" class="btn btn-outline-primary btn-sm"><%= genre %></a>
      <% end %>
    </div>
    <div class="row mt-2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="my-1 me-1 btn btn-sm btn-primary w-100 rounded-2">Add to Favorites</button>
        <button type="button" class="my-1 ms-1 btn btn-sm btn-primary w-100 rounded-2" data-bs-toggle="modal" data-bs-target="#calendarModal">Add to Calendar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calendarModalLabel">Choose Your Calendar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="btn-group-vertical w-100" role="group" aria-label="Calendar options">
          <a href="#" class="btn btn-outline-primary">Google Calendar</a>
          <a href="#" class="btn btn-outline-primary">Outlook</a>
          <a href="#" class="btn btn-outline-primary">Apple Calendar</a>
          <a href="#" class="btn btn-outline-primary">Yahoo Calendar</a>
        </div>
      </div>
    </div>
  </div>
</div>
