<div id="<%= dom_id stage_schedule %>">
  <p>
    <strong>Id:</strong>
    <%= stage_schedule.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= stage_schedule.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= stage_schedule.date %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= stage_schedule.stage_id %>
  </p>

</div>
