 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="carousel-inner">
    <% @data.each_slice(3).with_index do |stage_group, index| %>
      <div class="carousel-item mt-4 <%= 'active' if index.zero? %>">
        <div class="carousel-columns-wrapper row">
          <% stage_group.each do |stage_name, performances| %>
            <div class="carousel-column col-lg-4">
              <div class="carousel-column-body">

                <!-- Stage Name Card START -->
                <div class="card m-3 text-center border-gray <%= stage_css_color_classes[stage_name] %>" style="height:100px;">
                  <div class="card-body text-white align-items-center justify-content-center">
                    <h2 class="card-title mb-0"><%= stage_name %></h2>
                    <div class="row">
                      <div class="text-center">
                        <i class="bi bi-geo-alt-fill text-primary me-2"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Stage Name Card END -->

                <% performances.each do |performance| %>
                  <!-- Performance Card START -->
                  <div class="card rounded-2 m-3 border-1 border-gray shadow">
                    <div class="<%= stage_css_color_classes[stage_name] %>">
                      <%= image_tag(performance[:artist_image] || artist_stock_image, class: 'border-gray', style: "display: block; height: 120px; margin: auto") %>
                    </div>
                    <div class="card-body">
                      <h3><%= performance[:display_time] %></h3>
                      <% if performance[:artist_name].length > 25 %>
                        <h5 class="card-title"><%= performance[:artist_name] %></h5>
                      <% else %>
                        <h4 class="card-title"><%= performance[:artist_name] %></h4>
                      <% end %>
                      <div class="d-flex flex-wrap gap-2">
                        <% performance[:artist_genres].each do |genre| %>
                          <a href="#" class="btn btn-outline-primary btn-sm"><%= genre %></a>
                        <% end %>
                      </div>
                      <button type="button" class="mt-4 btn btn-sm btn-primary w-100 rounded-2">
                        <span class="d-flex justify-content-center align-items-center">
                          <span class="me-2">Have To See</span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <!-- Performance Card END -->
                <% end %>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div> 
<!-- https://www.youtube.com/watch?v=kHPm_AlxP7U -->

<style>
.carousel-columns-wrapper {
  display: flex;
}

.carousel-column {
  flex: 0 0 33.333%; /* Change to create three equal columns */
  max-width: 33.333%; /* Match the flex-basis */
}

.carousel-column-body {
  height: 100%;
  overflow-y: auto;
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #1a1a1a;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .carousel-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

</style>