<p style="color: green"><%= notice %></p>

<%= render @stage_schedule %>

<div>
  <%= link_to "Edit this stage schedule", edit_stage_schedule_path(@stage_schedule) %> |
  <%= link_to "Back to stage schedules", stage_schedules_path %>

  <%= button_to "Destroy this stage schedule", @stage_schedule, method: :delete %>
</div>
