<section id="artists" class="container py-5 mb-lg-3 mb-xl-4 mt-xl-3 my-xxl-5">
  <h2 class="h1 text-center pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2 mb-5">Artist Lineup</h2>
  <div class="mb-4 mb-lg-5 pb-4 px-3" data-simplebar>
    <div class="row row-cols-lg-3 flex-nowrap flex-lg-wrap gy-lg-5 mx-n3 mb-5">
      <% @data[:headliner_artists].each do |artist| %>
        <!-- Headliner Artists -->
        <div class="col">
          <a class="d-block text-center text-decoration-none artist-link" href="<%= artist[:link] %>" data-bs-toggle="modal" data-bs-target="#artistModal" data-artist-name="<%= artist[:name] %>" data-artist-image="<%= artist[:image] %>" data-artist-genres="<%= artist[:genres] %>" style="min-width: 210px;">
            <%= image_tag(artist[:image], class: "rounded border-shadow") %>
            <h3 class="h5 pt-4 mb-1"><%= artist[:name] %></h3>
            <p class="text-body-secondary mb-0"><%= artist[:genres] %></p>
          </a>
        </div>
      <% end %>
    </div>
    <div class="row row-cols-lg-4 flex-nowrap flex-lg-wrap gy-lg-5 mx-n3">
      <% @data[:artists].each do |artist| %>
        <div class="col">
          <!-- For other artists -->
          <a class="d-block text-center text-decoration-none artist-link" href="<%= artist[:link] %>" data-bs-toggle="modal" data-bs-target="#artistModal" data-artist-name="<%= artist[:name] %>" data-artist-image="<%= artist[:image] %>" data-artist-genres="<%= artist[:genres].join(', ') %>" style="min-width: 210px;">
            <%= image_tag(artist[:image], class: "rounded border-shadow") %>
            <h3 class="h5 pt-4 mb-1"><%= artist[:name] %></h3>
          </a>
          <div class="row">
            <div class="d-flex flex-wrap gap-2 justify-content-center">
              <% artist[:genres].each do |genre| %>
                <a href="#" class="btn btn-outline-primary btn-sm"><%= genre %></a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'v3_share_experience' %>





<!--  MODAL -->
<div class="modal fade" id="artistModal" tabindex="-1" aria-labelledby="artistModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="artistModalLabel">Artist Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modalArtistImage" src="" alt="Artist Image" class="img-fluid rounded mb-3">
        <h3 id="modalArtistName"></h3>
        <p id="modalArtistGenres"></p>
        <div class="d-grid gap-2">
          <a id="viewBioBtn" href="#" class="btn btn-primary">View Bio</a>
          <button id="addToFavoritesBtn" class="btn btn-success">Add to Favorites</button>
          <button id="addToCalendarBtn" class="btn btn-info">Add to Calendar</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const artistLinks = document.querySelectorAll('.artist-link');
  const modal = document.getElementById('artistModal');
  const bsModal = new bootstrap.Modal(modal);
  
  artistLinks.forEach(link => {
    link.addEventListener('click', function(e) {
      e.preventDefault();
      
      const artistName = this.getAttribute('data-artist-name');
      const artistImage = this.getAttribute('data-artist-image');
      const artistGenres = this.getAttribute('data-artist-genres');
      const artistBioUrl = this.getAttribute('data-artist-bio-url');
      const artistId = this.getAttribute('data-artist-id');
      
      // Populate the modal
      document.getElementById('modalArtistName').textContent = artistName;
      document.getElementById('modalArtistImage').src = artistImage;
      document.getElementById('modalArtistGenres').textContent = artistGenres;
      
      // Update CTA buttons
      document.getElementById('viewBioBtn').href = artistBioUrl;
      document.getElementById('addToFavoritesBtn').onclick = () => addToFavorites(artistId);
      document.getElementById('addToCalendarBtn').onclick = () => addToCalendar(artistId);
      
      // Open the modal
      bsModal.show();
    });
  });

  // Add event listener for modal close button
  const closeButton = modal.querySelector('.btn-close');
  closeButton.addEventListener('click', function() {
    bsModal.hide();
  });

  // Add event listener for clicking outside the modal
  modal.addEventListener('click', function(e) {
    if (e.target === modal) {
      bsModal.hide();
    }
  });
});

function addToFavorites(artistId) {
  // Implement the logic to add the artist to favorites
  console.log(`Adding artist ${artistId} to favorites`);
}

function addToCalendar(artistId) {
  // Implement the logic to add the artist to calendar
  console.log(`Adding artist ${artistId} to calendar`);
}
</script>