<section class="container py-5 mb-lg-3 mb-xl-4 mt-xl-3 my-xxl-5">
  <h2 class="h1 text-center pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2 mb-5">Artist Lineup</h2>
  <div class="mb-4 mb-lg-5 pb-4 px-3" data-simplebar>
    <div class="row row-cols-lg-3 flex-nowrap flex-lg-wrap gy-lg-5 mx-n3 mb-5">
      <% @data.headliner_artists.each do |artist| %>
        <div class="col">
          <a class="d-block text-center text-decoration-none" href="#" style="min-width: 210px;">
            <%= image_tag(artist[:image], class: "rounded border-shadow") %>
            <h3 class="h5 pt-4 mb-1"><%= artist[:name] %></h3>
            <p class="text-body-secondary mb-0"><%= artist[:genres] %></p>
          </a>
        </div>
      <% end %>
    </div>
    <div class="row row-cols-lg-4 flex-nowrap flex-lg-wrap gy-lg-5 mx-n3">
      <% @data.artists.each do |artist| %>
        <div class="col">
          <a class="d-block text-center text-decoration-none" href="#" style="min-width: 210px;">
            <%= image_tag(artist[:image], class: "rounded border-shadow") %>
            <h3 class="h5 pt-4 mb-1"><%= artist[:name] %></h3>
            <p class="text-body-secondary mb-0"><%= artist[:genres] %></p>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'v3_share_experience' %>
</section>