<div id="<%= dom_id activation %>">
  <p>
    <strong>Name:</strong>
    <%= activation.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activation.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= activation.image %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= activation.website %>
  </p>

  <p>
    <strong>Social media links:</strong>
    <%= activation.social_media_links %>
  </p>

</div>
