
<%

    @music_genres = [
      'Alternative',
      'Blues',
      'Classical',
      'Country',
      'Electronic',
      'Folk',
      'Funk',
      'Hip Hop',
      'Indie',
      'Jazz',
      'Latin',
      'Metal',
      'Pop',
      'Punk',
      'R&B',
      'Reggae',
      'Rock',
      'Soul',
      'World'
    ]

@json = {
"date": "Sunday, September 8, 2024",
"stages": [
{
"name": "CityStage",
"performances": [
{
"time": "10:45 AM - 11:45 AM",
"act": "Songs of Hope and Justice",
"image": nil
},
{
"time": "12:45 PM - 1:45 PM",
"act": "OLIVE KLUG",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/21-1024x614.png"
},
{
"time": "2:15 PM - 3:15 PM",
"act": "BIO RITMO",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/8-1024x614.png"
},
{
"time": "3:30 PM - 4:45 PM",
"act": "SUSTO",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/Untitled-design-14-1024x683.png"
},
{
"time": "5:30 PM - 7:00 PM",
"act": "MIPSO",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/2-1024x732.png"
}
]
},
{
"name": "NC Stage @ Depot",
"performances": [
{
"time": "12:00 PM - 1:00 PM",
"act": "WILD ROOTS",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/Untitled-design-13-1024x614.png"
},
{
"time": "1:30 PM - 2:30 PM",
"act": "LAKOTA JOHN",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/4-1024x614.png"
},
{
"time": "3:00 PM - 4:00 PM",
"act": "ABBY HAMILTON",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/6-1024x614.png"
},
{
"time": "4:30 PM - 5:30 PM",
"act": "CAIQUE VIDAL & BATUQUE",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/13-1024x614.png"
}
]
},
{
"name": "LeBauer Park",
"performances": [
{
"time": "10:00 AM - 12:00 PM",
"act": "ETHNO USA",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/2-2-1024x614.png"
},
{
"time": "12:30 PM - 1:30 PM",
"act": "DASHAWN HICKMAN presents SACRED STEEL featuring WENDY HICKMAN",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/10-1024x614.png"
},
{
"time": "2:00 PM - 3:00 PM",
"act": "DREW FOUST & THE WHEELHOUSE",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/15-1024x614.png"
},
{
"time": "3:30 PM - 4:30 PM",
"act": "EMANUEL WYNTER",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/Untitled-design-12-1024x614.png"
},
{
"time": "5:00 PM - 6:00 PM",
"act": "SAM FRIBUSH ORGAN TRIO featuring Calvin Napper and Charlie Hunter",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/1-2-1024x614.png"
}
]
},
{
"name": "Summit Stage",
"performances": [
{
"time": "12:00 PM - 1:00 PM",
"act": "SHE RETURNS FROM WAR",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/12-1024x614.png"
},
{
"time": "2:00 PM - 3:00 PM",
"act": "BLUE RIDGE GIRLS",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/16-1024x614.png"
},
{
"time": "3:30 PM - 4:30 PM",
"act": "ELIAS ALEXANDER",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/22-1024x614.png"
},
{
"time": "5:00 PM - 6:00 PM",
"act": "COLIN CUTLER & HOT PEPPER JAM",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/23-1024x614.png"
}
]
},
{
"name": "Center City Jams",
"performances": [
{
"time": "11:45 AM - 12:45 PM",
"act": "DEMEANOR",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/Untitled-design-11-1024x614.png"
},
{
"time": "1:30 PM - 2:30 PM",
"act": "Blues Jam",
"image": nil
},
{
"time": "3:00 PM - 4:00 PM",
"act": "Jazz",
"image": nil
},
{
"time": "4:30 PM - 5:30 PM",
"act": "Old Time",
"image": nil
}
]
},
{
"name": "Elm St. Stage",
"performances": [
{
"time": "11:45 AM - 12:45 PM",
"act": "DEMEANOR",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/Untitled-design-11-1024x614.png"
},
{
"time": "1:30 PM - 2:30 PM",
"act": "Blues Jam",
"image": nil
},
{
"time": "3:00 PM - 4:00 PM",
"act": "Jazz",
"image": nil
},
{
"time": "4:30 PM - 5:30 PM",
"act": "Old Time",
"image": nil
}
]
},
{
"name": "Dance at Van Dyke",
"performances": [
{
"time": "12:00 PM - 1:00 PM",
"act": "DEMEANOR",
"image": "https://ncfolkfestival.com/wp-content/uploads/2024/06/Untitled-design-11-1024x614.png"
},
{
"time": "1:30 PM - 2:30 PM",
"act": "Blues Jam",
"image": nil
},
{
"time": "3:00 PM - 4:00 PM",
"act": "Jazz",
"image": nil
},
{
"time": "4:30 PM - 5:30 PM",
"act": "Old Time",
"image": nil
}
]
}
]
}.deep_stringify_keys


%>



<div class="container-fluid">
  <h1 class="text-center my-4"><%= @json["date"] %></h1>
  <div class="row">
    <% @json["stages"].each do |stage| %>
      <div class="col-lg-3 col-md-3 mb-4">
        <!-- Stage Name Card -->
        <div class="card rounded-0 bg-primary text-white text-center align-middle" style="height:100px;">
          <div class="card-body align-middle">
            <h2 class="card-title mb-0 align-middle"><%= stage["name"] %></h2>
          </div>
        </div>

        <% stage["performances"].each_with_index do |performance, index| %>
          <% start_time, end_time = performance["time"].split(" - ") %>

          <!-- Performance Card -->
          <div class="card my-2 border-black">
            <% if performance["image"] %>
              <img src="<%= performance["image"] %>" class="card-img-top rounded-0" alt="<%= performance["act"] %>">
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <strong><%= performance["time"] %></strong>
              </p>
              <% if performance["act"].length > 25 %>
                <h4 class="card-title"><%= performance["act"] %></h4>
              <% else %>
                <h3 class="card-title"><%= performance["act"] %></h3>
              <% end %>


              <div class="d-flex flex-wrap gap-2">
                <% @music_genres.sample((1..4).to_a.sample).each do |genre| %>
                  <a href="#" class="btn btn-outline-primary btn-sm"><%= genre %></a>
                <% end %>
              </div>


<button type="button" class="mt-4 btn btn-sm btn-success w-100">
    <span class="d-flex justify-content-center align-items-center">
        <span class="me-2">FAVORITE</span>
        <i class="bi bi-heart"></i>
    </span>
</button>


            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>