<nav class="navbar navbar-expand-lg bg-light fixed-top text-black border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag('ncff-10-anv-logo.png', style: 'height:80px;') %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-black">
        <% if current_user.nil? %>
          <li class="nav-item">
            <a class="btn btn-outline-primary text-black" href="/login">Login</a>
          </li>
        <% else %>
          <% if current_user.fan? %>
            <li class="nav-item">
              <a class="nav-link" href="#">Favorites</a>
            </li>
          <% elsif current_user.vendor? %>
            <li class="nav-item">
              <%= link_to 'Preview Listing', vendor_path(current_user.vendor_record), class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Edit Listing', edit_vendor_path(current_user.vendor_record), class: 'nav-link' %>
            </li>
          <% elsif current_user.admin? %>
            <li class="nav-item">
              <a class="nav-link" href="/vendors?category=eat_drink">Approved - Eat & Drink</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendors?category=shop_do">Approved - Shop & Do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vendors?unapproved_listings=true">Unapproved Listings</a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#" disabled="true"><%= current_user.identifier %></a>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
