<section class="container pt-5 mt-xl-3 mt-xxl-5">
  <div class="row pt-1 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <h2 class="h1 pb-1 pb-sm-2 mb-4">Explore the offerings and plan your fun!</h2>
    </div>
    <div class="col-lg-8">
      <div class="ps-lg-3">
        <div class="data-simplebar">
          <ul class="nav nav-tabs flex-nowrap mb-2" role="tablist">
            <% @data.offerings.each_with_index do |offering, index| %>
              <li class="nav-item">
                <a class="nav-link text-nowrap px-3 px-md-4 <%= 'active' if index == 0 %>" 
                   href="#<%= offering.id %>" 
                   data-bs-toggle="tab" 
                   role="tab"><%= offering.name %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-content py-2 pb-md-0 pt-sm-3 pt-lg-3 mb-4 mb-md-5">
          <% @data.offerings.each_with_index do |offering, index| %>
            <div class="tab-pane fade <%= 'show active' if index == 0 %>" id="<%= offering.id %>" role="tabpanel">
              <p class="fs-xl mb-4"><%= offering.description %></p>
              <ul class="fs-xl mb-0">
                <% offering.features.each do |feature| %>
                  <li class="mb-1"><%= feature %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <a class="btn btn-lg btn-primary w-100 w-sm-auto" href="#tickets" data-scroll data-scroll-offset="120">
          Buy access pass
          <i class="ai-arrow-down ms-2 me-n2"></i>
        </a>
      </div>
    </div>
  </div>
</section>