<div id="<%= dom_id merchant %>">
  <p>
    <strong>Name:</strong>
    <%= merchant.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= merchant.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= merchant.image %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= merchant.website %>
  </p>

  <p>
    <strong>Social media links:</strong>
    <%= merchant.social_media_links %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= merchant.product_type %>
  </p>

</div>
