
<div class="container">
  <% if @vendor.persisted? %>
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h1 class="mb-4">Edit Vendor Listing</h1>
        <p>Need help? Check out the <a href="/vendor_help">vendor registration guide.</a></p>
      </div>
      <div class="col-12 col-md-6 text-md-end">
        <%= link_to vendor_path(@vendor.id), class: "text-decoration-none" do %>
          <button type="button" class="btn btn-primary">Preview</button>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h1 class="mb-4">Create Vendor Listing</h1>
        <p>Need help? Check out the <a href="/vendor_help">vendor registration guide.</a></p>
      </div>
    </div>
  <% end %>

  <h3>Basic Info</h3>

  <%= form_with(model: @vendor, local: true, class: "needs-validation", novalidate: true) do |form| %>
    <div class="row g-3">
      <div class="col-md-3">
        <%= form.label 'Business Name', class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= form.label :category, "Category", class: "form-label" %>
        <%= form.select :category, options_for_select([["Eat & Drink", "eat_drink"], ["Shop & Do", "shop_do"]], @vendor.category), { include_blank: "Select a category" }, { class: "form-select", required: true } %>
        <div class="invalid-feedback">
          Please select a category.
        </div>
      </div>
      <div class="col-md-3">
        <%= form.label :phone, class: "form-label" %>
        <%= form.telephone_field :phone, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= form.label :email, class: "form-label" %>
        <%= form.email_field :email, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= form.label :address, class: "form-label" %>
        <%= form.text_field :address, class: "form-control", rows: 2 %>
      </div>
      <div class="col-md-3">
        <%= form.label :city, class: "form-label" %>
        <%= form.text_field :city, class: "form-control", rows: 2 %>
      </div>
      <div class="col-md-3">
        <%= form.label :state, class: "form-label" %>
        <%= form.text_field :state, class: "form-control", rows: 2 %>
      </div>
      <div class="col-12">
        <%= form.label :content, class: "form-label" %>
        <%= form.rich_text_area :content, class: "form-control", rows: 3 %>
      </div>
      <div class="col-12">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>


    <% if @vendor.category == 'eat_drunk' %>
      <hr class="my-4">
      <div class="mb-3">
        <h3>Tags</h3>
        <div class="row">
          <%= form.collection_check_boxes :tag_ids, @tags, :id, :name do |b| %>
            <div class="col-lg-2 col-md-4 col-sm- 12">
              <div class="form-check">
                <%= b.check_box(class: "form-check-input") %>
                <%= b.label(class: "form-check-label") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <hr class="my-4">

    <div class="mb-3">
      <h3>Social Media Links / Website</h3>
      <div class="row">
        <%= form.fields_for :external_links do |link_form| %>
          <% ExternalLink::LINK_TYPES.each do |key, value| %>
            <div class="col-lg-4 col-md-6 mb-3">
              <%= link_form.label "#{key}_url".to_sym, "#{value[:display_text]} URL", class: "form-label" %>
              <%= link_form.text_field "#{key}_url".to_sym,
                    class: "form-control",
                    placeholder: "Copy and paste #{value[:display_text]} link here or leave blank",
                    value: @vendor.external_links.find{|link| link.link_type == key}&.url
                    # TODO: this is a likely N+1 query, fix htis!!!!!!!!!
              %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>

  <hr class="my-4">

  <div class="row">
    <div class="col">
      <h3>Menu or Price List</h3>
      <ul>
        <li>You can add a link to your MENU or PRICE LIST here.</li>
        <li>If you have a PDF or other file, you can upload it below and click <strong>Set as Menu</strong>.</li>
      </ul>
      <div class="col-md-3">
        <%= form_with(model: @vendor, local: true) do |form| %>
          <%= form.label 'Link to Menu / Price List', class: "form-label" %>
          <%= form.text_field :website, class: "form-control" %>
        <%= form.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <h3>Images</h3>
  <ul>
    <li>Select <strong>Set as Primary</strong> to set the primary image.</li>
    <li>Select <strong>Set as Menu</strong> to set the menu image (optional: you can also add a website link to your menu above).</li>
    <li>All other images will only be displayed in gallery sections.</li>
    <li>Images are automatically processesed and resized in multiple versions for optimal performance. If a newly uploaded image is blank, wait a few minutes and refresh the page.</li>
  </ul>

  <div class="row">
    <% @vendor.uploads.each do |upload| %>
      <div class="col-sm-12 col-md-3 col-lg-4">
        <div class="border border-3 border-primary p-4">
          <%= image_tag(upload.s3_url(size: 'large'), class: "img-thumbnail", style:"max-width:300px;", alt: "Artist upload") %>
          <% if upload.image_type == 'primary' %>
            <p class="text-center fw-bold my-3">Primary Image</p> 
          <% end %>
          <% if upload.image_type == 'menu' %>
            <p class="text-center fw-bold my-3">Menu Image</p> 
          <% end %>
          <% if upload.image_type == 'gallery' %>
            <p class="text-center my-3">Gallery Image</p> 
          <% end %>
          <div class="row">
            <%= button_to "Delete", upload_path(upload), method: :delete, class: "btn btn-danger btn-sm m-2 w-100", data: { confirm: "Are you sure?" } %>
          </div>
          <% unless upload.image_type == 'primary' %>
            <div class="row">
              <%= button_to "Set as Primary", set_primary_upload_path(upload), method: :patch, class: "btn btn-primary btn-sm m-2 w-100" %>
            </div>
          <% end %>
          <% unless upload.image_type == 'menu' %>
            <div class="row">
              <%= button_to "Set as Menu", set_menu_upload_path(upload), method: :patch, class: "btn btn-secondary btn-sm m-2 w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h3 class="mt-4">Upload Images</h3>

  <%= form_with(url: @upload, local: true, multipart: true, class: "mb-4") do |form| %>
    <% if @upload.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h4>
        <ul>
          <% @upload.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :uploadable_type, value: @vendor.class.name %>
    <%= form.hidden_field :uploadable_id, value: @vendor.id %>

    <div class="mb-3">
      <%= form.label :images, class: "form-label" %>
      <div class="input-group">
        <%= form.file_field :images, multiple: true, accept: 'image/*', class: "form-control", id: "customFile" %>
        <%= form.submit 'Upload Images', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>