    <div class="border shadow rounded p-4 my-5 text-center">
      <!-- Edit, Approve, and Archive buttons -->
      <div class="admin-vendor-controls" class="row mb-4">
        <p><strong>Admin Only</strong></p>
        <div class="col d-flex justify-content-end">
          <% if current_user&.owner?(vendor) || current_user&.admin? %>
            <%= link_to edit_vendor_path(vendor.id) do %>
              <button type="button" class="btn btn-primary m-2">Edit</button>
            <% end %>
          <% end %>

          <% if current_user&.admin? %>
            <% if vendor.approved? %>
              <%= form_with(model: vendor, local: true, method: :patch) do |form| %>
                <%= form.hidden_field :approved, value: false %>
                <%= form.submit "Unapprove", class: "btn btn-success m-2" %>
              <% end %>
            <% else %>
              <%= form_with(model: vendor, local: true, method: :patch) do |form| %>
                <%= form.hidden_field :approved, value: true %>
                <%= form.submit "Approve", class: "btn btn-success m-2" %>
              <% end %>
            <% end %>

            <%= form_with(model: vendor, local: true, method: :patch) do |form| %>
              <%= form.hidden_field :archived, value: true %>
              <%= form.submit "Archive", class: "btn btn-danger m-2" %>
            <% end %>
          <% end %>
        </div>
        <hr class="my-4"></hr>
      </div>

      <!-- Primary Image/Logo -->
      <div class="row mb-4">
        <div class="col-12 text-center">
          <% if vendor.primary_image.present? %>
            <%= image_tag(vendor.primary_image(size: 'medium'), class:'img-fluid rounded w-75') %>
          <% else %>
            <%= placeholder_tile('Add a Primary Image') %>
          <% end %>
        </div>
      </div>

      <!-- Business Information -->
      <div class="row mb-4">
        <div class="col-12">
          <h2 class="mb-3"><%= vendor.name %></h2>
          <p class="mb-3"><%= vendor.description %></p>
          
          <!-- Category/Tag Section -->
          <div class="mb-3">
            <% vendor.tags.each do |tag| %>
              <span class="badge bg-info px-4 py-2"><%= tag.name %></span>
            <% end %>
            <% if vendor.tags.none? %>
              <span class="badge bg-info px-4 py-2">ADD CUISINE TYPES</span>
            <% end %>
          </div>
        </div>
      </div>

      <!-- View Menu -->
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h5>View Menu</h5>
          <% if vendor.uploaded_menu.present? %>
            <%= link_to 'Menu', vendor.uploaded_menu.s3_url(size: 'large'), class: 'btn btn-primary w-75', target: '_blank' %>
          <% elsif vendor.linked_menu.present? %>
            <%= link_to 'Menu', vendor.linked_menu, class: 'btn btn-primary w-75 m-auto', target: '_blank', rel: "noopener noreferrer" %>
          <% else %>
            <p>ADD MENU / PRICE LIST</p>
          <% end %>
        </div>
      </div>

      <!-- Image Gallery -->
      <div class="row mb-4">
        <div class="col-12">
          <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if vendor.uploads.any? %>
                <% vendor.uploads.gallery.each_with_index do |image, index| %>
                  <div class="carousel-item <%= 'active' if index.zero? %>">
                    <%= image_tag image.s3_url(size: 'medium'), class: 'd-block w-75 m-auto rounded', alt: "Slide #{index + 1}" %>
                  </div>
                <% end %>
              <% else %>
                <%= placeholder_tile('Add Gallery Images') %>
              <% end %>
            </div>
            <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon custom-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon custom-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <style>
        .custom-carousel-control {
          width: 5%;
          opacity: 0.7;
        }
        
        .custom-carousel-control:hover {
          opacity: 1;
        }
        
        .custom-icon {
          width: 30px;
          height: 30px;
          background-size: 100% 100%;
        }
        
        .carousel-control-prev-icon.custom-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
        }
        
        .carousel-control-next-icon.custom-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }
      </style>

      <!-- Festival Location -->
      <div class="row m-4">
        <div class="col-12">
          <h5>Festival Location</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6449.540611296966!2d-79.7880926!3d36.07470620000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885319263795fe67%3A0xacdd248ec46e3d08!2sLeBauer%20Park%20%40%20Greensboro%20Downtown%20Parks%2C%20Inc.!5e0!3m2!1sen!2sus!4v1723058744260!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded"></iframe>
        </div>
      </div>

      <!-- Connect -->
      <div class="row mb-4">
        <div class="col-12">
          <h5>Connect</h5>
          <% vendor.external_links.ordered_by_link_type.each do |link| %>
            <%= external_link_button(link, icon_only: true) %>
          <% end %>
          <% if vendor.external_links.count.zero? %>
            <p>Add your website or any social media links</p>
          <% end %>
        </div>
      </div>

      <!-- Information -->
      <div class="row">
        <div class="col-12">
          <h5>Information</h5>
          <p><%= [vendor.email, vendor.phone].reject(&:blank?).join(" | ") %></p>
          <% if [vendor.email, vendor.phone].all?(&:blank?) %>
            <p>Add contact information</p>
          <% end %>

          <p><%= vendor.address %> <%= vendor.city %> <%= vendor.state %></p>
          <% if [vendor.address, vendor.city, vendor.state].all?(&:blank?) %>
            <p>Add address information</p>
          <% end %>
        </div>
      </div>
    </div>