<div id="<%= dom_id vendor %>">
  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vendor.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= vendor.image %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= vendor.website %>
  </p>

  <p>
    <strong>Social media links:</strong>
    <%= vendor.social_media_links %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vendor.category %>
  </p>

  <p>
    <strong>Cuisine type:</strong>
    <%= vendor.cuisine_type %>
  </p>

</div>
