<div class="container my-4">
  <div class="row g-4 border border-rounded p-4">
    <!-- Primary Image/Logo -->
    <div class="col-md-4 col-lg-3">
      <div class="row">
        <div class="col">
          <%= image_tag(vendor.primary_image, class:'img-fluid rounded ') %>
        </div>
      </div>
      <div class="row">
        <div class="col mt-5">
          <!-- Image Gallery -->
          <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% vendor.uploads.gallery.each_with_index do |image, index| %>
                <div class="carousel-item <%= 'active' if index.zero? %>">
                  <%= image_tag image.s3_url(size: 'small'), class: 'd-block w-100', alt: "Slide #{index + 1}" %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Business Information -->
    <div class="col-md-8 col-lg-9">
      <h2 class="mb-3"><%= vendor.name %></h2>
      <p class="mb-3"><%= vendor.description %></p>
      
      <!-- Category/Tag Section -->
      <div class="mb-3">
        <% vendor.tags.each do |tag| %>
          <span class="badge bg-info px-4 py-2"><%= tag.name %></span>
        <% end %>
      </div>

      <!-- Contact and Location Information -->
      <div class="row">
        <div class="col-sm-6">
          <h5>Festival Location</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6449.540611296966!2d-79.7880926!3d36.07470620000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885319263795fe67%3A0xacdd248ec46e3d08!2sLeBauer%20Park%20%40%20Greensboro%20Downtown%20Parks%2C%20Inc.!5e0!3m2!1sen!2sus!4v1723058744260!5m2!1sen!2sus" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col m-4">
              <h5>Menu</h5>
              <a href="menu.html" class="text-decoration-none btn btn-secondary w-100">View Menu</a>
            </div>
          </div>
          <div class="row">
            <div class="col m-4">
              <h5>Contact Information</h5>
              <p><%= [vendor.email, vendor.phone].join(" | ") %></p>
              <p><%= vendor.address %> <%= vendor.city %> <%= vendor.state %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
