<div class="container">
  <h1 class="mb-4"><%= @data.page_name %></h1>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="genreDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          By Cuisine
        </button>
        <ul class="dropdown-menu" aria-labelledby="genreDropdown">
          <li><a class="dropdown-item" href="<%= artists_path %>"><%= "All (#{Artist.count})" %></a></li>
          <% Tag.cuisines.each do |tag| %>
            <li><a class="dropdown-item" href="<%= artists_path(category: 'cuisine', option: tag) %>"><%= "#{tag} (1234)" %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="stageNameDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          By Location 
        </button>
        <ul class="dropdown-menu" aria-labelledby="stageNameDropdown">
          <li><a class="dropdown-item" href="<%= artists_path %>">All</a></li>
          <% Performance.stage_map.each do |stage, performance_count| %>
            <li><a class="dropdown-item" href="<%= artists_path(category: 'stage', option: stage) %>"><%= "#{stage}  (#{performance_count})" %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<% @data.vendors.each_with_index do |vendor, index| %>
  <div class="row mx-4 text-white p-4 m-4 <%= repeat_colors_by_index(index) %>">
    <!-- Row with two 25% and 75% columns -->
    <div class="row">
        <div class="col-lg-3">
              <%= image_tag('stock_logo.png', class: 'dblock w-100') %>
        </div>
        <div class="col-lg-9">
              <h2 class="text-white"><%= vendor.name %></h2>
              <p><%= vendor.description %>
        </div>
    </div>

    <!-- Row with three 50%, 25% and 25% columns -->
    <div class="row">
        <div class="col-lg-6">
                <h3 class="text-white">Cuisine</h3>
                <ul>
                  <% vendor.tags.cuisines.each do |cuisine_tag| %>
                    <li><%= cuisine_tag %></li>
                  <% end %>
                </ul>
        </div>
        <div class="col-lg-3">
                <h3 class="text-white">Contact Info</h3>
                <p>Phone: <%= vendor.phone %></p>
                <p>Email: <%= vendor.email %>
        </div>
        <div class="col-lg-3">
                <h3 class="text-white">Location</h3>
                <%= vendor.address %>
        </div>
    </div>
  </div>
  <hr>
<% end %>