<div id="<%= dom_id stage %>">
  <p>
    <strong>Name:</strong>
    <%= stage.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= stage.description %>
  </p>

  <p>
    <strong>Google place:</strong>
    <%= stage.google_place_id %>
  </p>

  <p>
    <strong>Google place address:</strong>
    <%= stage.google_place_address %>
  </p>

</div>
