<p style="color: green"><%= notice %></p>

<%= render @stage %>

<iframe src="https://www.google.com/maps/d/embed?mid=1Mq4WFv6IEisSZEXO4stUty_ypUdZNcA&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>

<div>
  <%= link_to "Edit this stage", edit_stage_path(@stage) %> |
  <%= link_to "Back to stages", stages_path %>

  <%= button_to "Destroy this stage", @stage, method: :delete %>
</div>
