<div id="<%= dom_id upload %>">
  <p>
    <strong>Filename:</strong>
    <%= upload.filename %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= upload.content_type %>
  </p>

  <p>
    <strong>File size:</strong>
    <%= upload.file_size %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= upload.key %>
  </p>

</div>
