<h1>Upload New Images</h1>

<%= form_with(model: @upload, local: true, multipart: true) do |form| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>
      <ul>
        <% @upload.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, accept: 'image/*' %>
  </div>

  <div class="actions">
    <%= form.submit 'Upload Images' %>
  </div>
<% end %>

<%= link_to 'Back', uploads_path %>