<div id="<%= dom_id performance %>">
  <p>
    <strong>Stage:</strong>
    <%= performance.stage_id %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= performance.artist_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= performance.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= performance.end_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= performance.description %>
  </p>

  <p>
    <strong>Is headline:</strong>
    <%= performance.is_headline %>
  </p>

</div>
