<p style="color: green"><%= notice %></p>

<%= csrf_meta_tags %>
<%= javascript_pack_tag 'hello-world-bundle' %>
<%= stylesheet_pack_tag 'hello-world-bundle' %>
<%= react_component("HelloWorld", props: @hello_world_props, prerender: true) %>

<h1>Performances</h1>

<div id="performances">
  <% @performances.each do |performance| %>
    <%= render performance %>
    <p>
      <%= link_to "Show this performance", performance %>
    </p>
  <% end %>
</div>

<%= link_to "New performance", new_performance_path %>
