<div id="<%= dom_id embedded_content %>">
  <p>
    <strong>Url:</strong>
    <%= embedded_content.url %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= embedded_content.content_type %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= embedded_content.title %>
  </p>

  <p>
    <strong>Embed code:</strong>
    <%= embedded_content.embed_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= embedded_content.description %>
  </p>

  <p>
    <strong>Embeddable:</strong>
    <%= embedded_content.embeddable_id %>
  </p>

</div>
